<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="./main_section_styles.css"/>
  <title>Main styles</title>
</head>
<body>
  <div class="main-container">
    <div class="project-section">
      <h4>Project section</h4>
      <div class="p_container"> 
        <div class="project one">
          <h6>Title of project</h6>
          <p>this would be a pretty long description of the porject. Unlike vscode that gave me a method to
            contunie typing  random words, that is using the &quote lorem &quote function, but i have to manually
            type this out so it looks like an ok presentation.</p>
          <div class="opts">
            <img  class="proj-btn" src="#" alt"#"/>
            <img  class="proj-btn" src="#" alt"#"/>
            <img  class="proj-btn" src="#" alt"#"/>
          </div>
        </div>
        
        <div class="project one">
          <h6>Title of project</h6>
          <p>this would be a pretty long description of the porject. Unlike vscode that gave me a method to
            contunie typing  random words, that is using the &quote lorem &quote function, but i have to manually
            type this out so it looks like an ok presentation.</p>
          <div class="opts">
            <img  class="proj-btn" src="#" alt"#"/>
            <img  class="proj-btn" src="#" alt"#"/>
            <img  class="proj-btn" src="#" alt"#"/>
          </div>
        </div>
        
        <div class="project one">
          <h6>Title of project</h6>
          <p>this would be a pretty long description of the porject. Unlike vscode that gave me a method to
            contunie typing  random words, that is using the &quote lorem &quote function, but i have to manually
            type this out so it looks like an ok presentation.</p>
          <div class="opts">
            <img  class="proj-btn" src="#" alt"#"/>
            <img  class="proj-btn" src="#" alt"#"/>
            <img  class="proj-btn" src="#" alt"#"/>
          </div>
        </div>
        
        <div class="project one">
          <h6>Title of project</h6>
          <p>this would be a pretty long description of the porject. Unlike vscode that gave me a method to
            contunie typing  random words, that is using the &quote lorem &quote function, but i have to manually
            type this out so it looks like an ok presentation.</p>
          <div class="opts">
            <img  class="proj-btn" src="#" alt"#"/>
            <img  class="proj-btn" src="#" alt"#"/>
            <img  class="proj-btn" src="#" alt"#"/>
          </div>
        </div>
        
        <div class="project one">
          <h6>Title of project</h6>
          <p>this would be a pretty long description of the porject. Unlike vscode that gave me a method to
            contunie typing  random words, that is using the &quote lorem &quote function, but i have to manually
            type this out so it looks like an ok presentation.</p>
          <div class="opts">
            <img  class="proj-btn" src="#" alt"#"/>
            <img  class="proj-btn" src="#" alt"#"/>
            <img  class="proj-btn" src="#" alt"#"/>
          </div>
        </div>
        
        <div class="project one">
          <h6>Title of project</h6>
          <p>this would be a pretty long description of the porject. Unlike vscode that gave me a method to
            contunie typing  random words, that is using the &quote lorem &quote function, but i have to manually
            type this out so it looks like an ok presentation.</p>
          <div class="opts">
            <img  class="proj-btn" src="#" alt"#"/>
            <img  class="proj-btn" src="#" alt"#"/>
            <img  class="proj-btn" src="#" alt"#"/>
          </div>
        </div>
      </div>
    </div>
    <div class="announcement-section">
      <h4>Announcements</h4>
      <div class="announcement-container">
        <div class="announcement">
          <h4>content topic</h4>
          <p>this should be another really long topic that should have almomst no end
            and the more I can type about this, the better to showcase.</p>
        </div>
        <div class="announcement">
          <h4>content topic</h4>
          <p>this should be another really long topic that should have almomst no end
            and the more I can type about this, the better to showcase.</p>
        </div>
        <div class="announcement">
          <h4>content topic</h4>
          <p>this should be another really long topic that should have almomst no end
            and the more I can type about this, the better to showcase.</p>
        </div>
      </div>
    </div>
    <div class="trending-section">
      <h4>Trending</h4>
      <div class="trend-container">
        <div class="trend">
          <img src="#" alt="#">
          <div>
            <p id="username">@example</p>
            <p id="slogan">some exciting content checking the gap</p>
          </div>
        </div>
        <div class="trend">
          <img src="#" alt="#">
          <div>
            <p id="username">@example</p>
            <p id="slogan">some exciting content</p>
          </div>
        </div>
        <div class="trend">
          <img src="#" alt="#">
          <div>
            <p id="username">@example</p>
            <p id="slogan">some exciting content</p>
          </div>
        </div>
        <div class="trend">
          <img src="#" alt="#">
          <div>
            <p id="username">@example</p>
            <p id="slogan">some exciting content</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
