*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: minmax(10%, 1fr) auto;

  border: 1px solid orange;
}
.header{
  grid-area: 1/2 / 2/-1;
  background-color: red;
  border: 1px solid black;
}
.side_bar{
  grid-area: 1/1 / -1/2;
  background-color:aqua;
}
.main{
  grid-area: 2/2 / -1/-1;
  background-color: azure;
}