:root{
  --primary_color: rgb(69, 124, 124);
  --background_color: #50cc2a;
  --asscent_color: rgb(25, 156, 13);
  --btn_color: #04dd45;
  --font_color: #032539;
  --empty_space: #FBF3F2;
}

*{
  font-family: "Outfit", sans-serif;
  color: var(--font_color);
  margin: 0;
  padding: 0;
}
body{width: 100vw; height: 100vh;}

.dash_container{
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 1fr 5fr;
  row-gap:10px;
  width: 100%;
  height: 100%;
  background-color: var(--empty_space);
}
.header{
  grid-area: 1/2 / 2/2;
  background-color: white;
  /* border: 1px solid black; */
  box-shadow: 1px 2px 3px grey;
}
.side_content{
  grid-area: 1/1 / -1/2;
  background-color:var(--primary_color);
}
.main{
  grid-area: 2/2 / -1/-1;
}

.header{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr  2fr;
}
.top{
  padding:10px 30px;
  
  grid-row: 1/2;

  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
}
.bottom{
  grid-row: 2/-1;
  padding:10px 30px;

  display: grid;
  grid-template-columns: minmax(100px, 1fr) 4fr repeat(3, 1fr) ;
  align-items:end;
  gap: 3%;
}
.bottom img{
  justify-self:center;
  width: 50px;
}

.top > .search{
  /* width: 100%; */
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 7fr;
}
.search_btn{
  align-self: center;
  justify-self: center;
  height: 100;
}

input{
  background-color: var(--empty_space);
  border: 1px solid #ccc;
  border-radius: 20px;
}
.user_info.icons{
  grid-column: 3/-1;
  /* flex-grow: 1; */
  /* padding: 0 4%; */
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
  font-weight: bold;
}
.user_wlc{
  justify-self: left;
}
.btns{
  /* border: 1px solid black; */
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--btn_color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
h4{
  font-size: 1.15em;
  color: var(--primary_color)
}