li img, .page_title img{
  width:50px;
  height: 50px;
  margin: 10px;
}
li > h4{
  font-size: 0.95em;
}
.page_title img{
  width: 70px;
  height: 70px;
  filter: blur(0.5px);
  /* filter:invert() */
}
li>img{
  object-fit: contain;
  filter: invert(1);
  height: 45%;
}
ul{
  list-style-type: none;
}
a{text-decoration: none;
  color: white;
}
h1{
  color: white;
}

.side_content{
  display: grid;
  grid-template-rows: 100px 400px 200px;
  row-gap:20px;
  padding: 10px;
}
.page_title{
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}
.navigation{grid-row: 2/3}
.user_nav{grid-row: 3/4}
.navigation, .user_nav{
  display:grid;
  grid-template-rows: repeat(6, minmax(50px, 100px));
  padding-left: 20px;
}
.user_nav{grid-template-rows: repeat(3, minmax(50px, 100px));}
.user_nav > li, .navigation > li{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}